<form nz-form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <!-- Campo Descrição do Produto -->
    <nz-form-item>
      <nz-form-label [nzRequired]="true" nzFor="productDescription">Descrição do Produto</nz-form-label>
      <nz-form-control [nzErrorTip]="productDescriptionError">
        <input nz-input formControlName="productDescription" id="productDescription" placeholder="Digite a descrição do produto" />
      </nz-form-control>
    </nz-form-item>
    <ng-template #productDescriptionError>
      A descrição é obrigatória.
    </ng-template>
  
    <!-- Campo Valor de Compra -->
    <nz-form-item>
      <nz-form-label [nzRequired]="true" nzFor="purchasePrice">Valor de Compra</nz-form-label>
      <nz-form-control [nzErrorTip]="purchasePriceError">
        <input nz-input type="number" formControlName="purchasePrice" id="purchasePrice" placeholder="Digite o valor de compra" />
      </nz-form-control>
    </nz-form-item>
    <ng-template #purchasePriceError>
      O valor de compra é obrigatório.
    </ng-template>
  
    <!-- Campo Valor de Venda -->
    <nz-form-item>
      <nz-form-label [nzRequired]="true" nzFor="salePrice">Valor de Venda</nz-form-label>
      <nz-form-control [nzErrorTip]="salePriceError">
        <input nz-input type="number" formControlName="salePrice" id="salePrice" placeholder="Digite o valor de venda" />
      </nz-form-control>
    </nz-form-item>
    <ng-template #salePriceError>
      O valor de venda é obrigatório.
    </ng-template>
  
    <!-- Campo Categoria -->
    <nz-form-item>
      <nz-form-label [nzRequired]="true" nzFor="category">Categoria</nz-form-label>
      <nz-form-control [nzErrorTip]="categoryError">
        <nz-select formControlName="category" id="category" nzPlaceHolder="Selecione uma categoria">
          <nz-option *ngFor="let cat of categories" [nzLabel]="cat.name" [nzValue]="cat.id"></nz-option>
        </nz-select>
        <button nz-button nzType="link" (click)="showFornecedorModal()">+ Novo Fornecedor</button>
        <!--<app-fornecedor-modal></app-fornecedor-modal>-->
      </nz-form-control>
    </nz-form-item>
    <ng-template #categoryError>
      A categoria é obrigatória.
    </ng-template>
  
    <!-- Campo Fornecedor -->
    <nz-form-item>
      <nz-form-label [nzRequired]="true" nzFor="supplier">Fornecedor</nz-form-label>
      <nz-form-control [nzErrorTip]="supplierError">
        <nz-select formControlName="supplier" id="supplier" nzPlaceHolder="Selecione um fornecedor">
          <nz-option *ngFor="let sup of suppliers" [nzLabel]="sup.name" [nzValue]="sup.id"></nz-option>
        </nz-select>
        <button nz-button nzType="link" (click)="addNewSupplier()">+ Novo Fornecedor</button>
      </nz-form-control>
    </nz-form-item>
    <ng-template #supplierError>
      O fornecedor é obrigatório.
    </ng-template>
  
    <!-- Botão de Submissão -->
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary" [disabled]="productForm.invalid">Salvar</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  