<h3 nz-typography>Cadastrar Produto</h3>
<form nz-form [formGroup]="produtoForm" (ngSubmit)="onSubmit()">
  <!-- Campo Código do Produto -->
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="cod_produto">Código</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input
        nz-input
        type="number"
        formControlName="cod_produto"
        placeholder="Digite o código do produto"
        required
      />
    </nz-form-control>
  </nz-form-item>

  <!-- Campo Descrição do Produto -->
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="desc_produto">Descrição</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input
        nz-input
        formControlName="desc_produto"
        placeholder="Digite a descrição do produto"
        required
      />
    </nz-form-control>
  </nz-form-item>

  <!-- Campo Quantidade do Produto -->
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="qtd_produto">Quantidade</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input
        nz-input
        type="number"
        formControlName="qtd_produto"
        placeholder="Digite a quantidade"
        required
      />
    </nz-form-control>
  </nz-form-item>

  <!-- Campo Valor de Compra -->
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="valor_compra_produto">Valor de Compra</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input
        nz-input
        type="number"
        formControlName="valor_compra_produto"
        placeholder="Digite o valor de compra"
        required
      />
    </nz-form-control>
  </nz-form-item>

  <!-- Campo Valor de Venda -->
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="valor_venda_produto">Valor de Venda</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input
        nz-input
        type="number"
        formControlName="valor_venda_produto"
        placeholder="Digite o valor de venda"
        required
      />
    </nz-form-control>
  </nz-form-item>

  <!-- Campo Categoria -->
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="categoria_produto">Categoria</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <nz-select
        nzShowSearch
        nzPlaceHolder="Selecione uma categoria"
        formControlName="selectedCategoriaId"
        (ngModelChange)="onCategoriaChange($event)"
        [nzDropdownRender]="categoriaDropdownRender"
        required
      >
        <nz-option
          *ngFor="let categoria of categorias$ | async"
          [nzValue]="categoria.id_categoria"
          [nzLabel]="categoria.nome_categoria"
        >
        </nz-option>
      </nz-select>
      <ng-template #categoriaDropdownRender>
        <div style="display: flex; justify-content: space-between; padding: 8px;">
          <button
            nz-button
            nzType="link"
            (click)="openCategoriaModal()"
            type="button"
          >
            <span nz-icon nzType="plus"></span> Adicionar Categoria
          </button>
        </div>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <!-- Campo Fornecedor -->
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="fornecedor_produto">Fornecedor</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <nz-select
        nzShowSearch
        nzPlaceHolder="Selecione um fornecedor"
        formControlName="selectedFornecedorId"
        (ngModelChange)="onFornecedorChange($event)"
        [nzDropdownRender]="fornecedorDropdownRender"
        required
      >
        <nz-option
          *ngFor="let fornecedor of fornecedores$ | async"
          [nzValue]="fornecedor.id_fornecedor"
          [nzLabel]="fornecedor.nome_fornecedor"
        >
        </nz-option>
      </nz-select>
      <ng-template #fornecedorDropdownRender>
        <div style="display: flex; justify-content: space-between; padding: 8px;">
          <button
            nz-button
            nzType="link"
            (click)="openFornecedorModal()"
            type="button"
          >
            <span nz-icon nzType="plus"></span> Adicionar Fornecedor
          </button>
        </div>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <!-- Botão de Submissão -->
  <nz-form-item>
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary" [disabled]="!produtoForm.valid">
        Salvar
      </button>
      <button nz-button nzType="default" >Cancelar</button>
    </nz-form-control>
  </nz-form-item>
</form>
