<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <img
      nz-image
      nzSrc="https://i.postimg.cc/sgvHYmVP/logo.png"
      alt="logo"
    />
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Painel de Controle" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="animais">Animais</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="pessoas">Pessoas</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="colaboradores">Colaboradores</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="produtos">Produtos</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="categorias">Categorias</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="racas">Raças</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="agendamentos">Agendamentos</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="servicos">Serviços</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="diagnosticos">Diagnosticos</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Logout</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Relatórios" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Relatório de Diagnósticos</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>