form {
    margin: 16px;
  }
  
  button {
    margin-top: 16px;
  }
  
 
  .form-item {
    margin-bottom: 20px; /* Espaçamento entre os campos */
  }
  
  .form-actions {
    margin-top: 30px; /* Espaçamento acima dos botões */
  }
  