<form nz-form [formGroup]="form" (ngSubmit)="submitForm()">
  <!-- Campo: Nome da Raça -->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="nome_raca" [nzRequired]="true">
      Nome da Raça
    </nz-form-label>
    <nz-form-control [nzErrorTip]="nomeRacaError">
      <input
        nz-input
        id="nome_raca"
        formControlName="nome_raca"
        placeholder="Digite o nome da raça"
      />
    </nz-form-control>
  </nz-form-item>
  <ng-template #nomeRacaError>
    O nome da raça é obrigatório e deve ter pelo menos 3 caracteres.
  </ng-template>

  <!-- Campo: Espécie -->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="especie_raca" [nzRequired]="true">
      Espécie
    </nz-form-label>
    <nz-form-control [nzErrorTip]="especieRacaError">
      <nz-select
        id="especie_raca"
        formControlName="especie_raca"
        placeholder="Selecione a espécie"
      >
        <nz-option nzValue="Cão" nzLabel="Cão"></nz-option>
        <nz-option nzValue="Gato" nzLabel="Gato"></nz-option>
        <nz-option nzValue="Roedor" nzLabel="Roedor"></nz-option>
        <nz-option nzValue="Pássaro" nzLabel="Pássaro"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <ng-template #especieRacaError>
    A espécie é obrigatória.
  </ng-template>

  <!-- Botões -->
   <nz-form-item>
    <nz-form-control [nzSpan]="24" style="text-align: right;">
      <ng-container *ngIf="modo !== 'abrir'">
        <button nz-button nzType="primary" [disabled]="form.invalid">
          {{ modo === 'editar' ? 'Salvar' : 'Cadastrar' }}
        </button>
        <button nz-button nzType="default" (click)="cancel()">
          Cancelar
        </button>
      </ng-container>
    </nz-form-control>
  </nz-form-item>
</form>
