<nz-modal [(nzVisible)]="isVisible" nzTitle="Cadastro de Fornecedor" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <form nz-form [formGroup]="supplierForm">
      <!-- Campo Nome do Fornecedor -->
      <nz-form-item>
        <nz-form-label [nzRequired]="true" nzFor="nomeFornecedor">Nome do Fornecedor</nz-form-label>
        <nz-form-control [nzErrorTip]="nomeFornecedorError">
          <input nz-input formControlName="nomeFornecedor" id="nomeFornecedor" placeholder="Digite o nome do fornecedor" />
        </nz-form-control>
      </nz-form-item>
      <ng-template #nomeFornecedorError>
        O nome do fornecedor é obrigatório.
      </ng-template>
  
      <!-- Campo CEP do Fornecedor -->
      <nz-form-item>
        <nz-form-label [nzRequired]="true" nzFor="cepFornecedor">CEP</nz-form-label>
        <nz-form-control [nzErrorTip]="cepFornecedorError">
          <input nz-input formControlName="cepFornecedor" id="cepFornecedor" placeholder="Digite o CEP" />
        </nz-form-control>
      </nz-form-item>
      <ng-template #cepFornecedorError>
        O CEP é obrigatório.
      </ng-template>
  
      <!-- Campo CNPJ do Fornecedor -->
      <nz-form-item>
        <nz-form-label [nzRequired]="true" nzFor="cnpjFornecedor">CNPJ</nz-form-label>
        <nz-form-control [nzErrorTip]="cnpjFornecedorError">
          <input nz-input formControlName="cnpjFornecedor" id="cnpjFornecedor" placeholder="Digite o CNPJ" />
        </nz-form-control>
      </nz-form-item>
      <ng-template #cnpjFornecedorError>
        O CNPJ é obrigatório.
      </ng-template>
  
      <!-- Campo Complemento -->
      <nz-form-item>
        <nz-form-label nzFor="complementoFornecedor">Complemento</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="complementoFornecedor" id="complementoFornecedor" placeholder="Digite o complemento" />
        </nz-form-control>
      </nz-form-item>
  
      <!-- Campo IE (Inscrição Estadual) -->
      <nz-form-item>
        <nz-form-label nzFor="ieFornecedor">IE</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="ieFornecedor" id="ieFornecedor" placeholder="Digite a inscrição estadual" />
        </nz-form-control>
      </nz-form-item>
  
      <!-- Campo Número do Estabelecimento -->
      <nz-form-item>
        <nz-form-label [nzRequired]="true" nzFor="numeroEstabelecimento">Número do Estabelecimento</nz-form-label>
        <nz-form-control [nzErrorTip]="numeroEstabelecimentoError">
          <input nz-input type="number" formControlName="numeroEstabelecimento" id="numeroEstabelecimento" placeholder="Digite o número" />
        </nz-form-control>
      </nz-form-item>
      <ng-template #numeroEstabelecimentoError>
        O número do estabelecimento é obrigatório.
      </ng-template>
  
      <!-- Campo Rua -->
      <nz-form-item>
        <nz-form-label [nzRequired]="true" nzFor="ruaFornecedor">Rua</nz-form-label>
        <nz-form-control [nzErrorTip]="ruaFornecedorError">
          <input nz-input formControlName="ruaFornecedor" id="ruaFornecedor" placeholder="Digite a rua" />
        </nz-form-control>
      </nz-form-item>
      <ng-template #ruaFornecedorError>
        A rua é obrigatória.
      </ng-template>
  
      <!-- Campo Bairro com Botão de Cadastro -->
      <nz-form-item>
        <nz-form-label [nzRequired]="true" nzFor="bairro">Bairro</nz-form-label>
        <nz-form-control [nzErrorTip]="bairroError">
          <nz-select formControlName="bairro" id="bairro" nzPlaceHolder="Selecione um bairro">
            <nz-option *ngFor="let bairro of bairros" [nzLabel]="bairro.name" [nzValue]="bairro.id"></nz-option>
          </nz-select>
          <button nz-button nzType="link" (click)="addNewBairro()">+ Novo Bairro</button>
        </nz-form-control>
      </nz-form-item>
      <ng-template #bairroError>
        O bairro é obrigatório.
      </ng-template>
  
      <!-- Campo Cidade de Acordo com Bairro -->
      <nz-form-item>
        <nz-form-label [nzRequired]="true" nzFor="cidade">Cidade</nz-form-label>
        <nz-form-control [nzErrorTip]="cidadeError">
          <nz-select formControlName="cidade" id="cidade" nzPlaceHolder="Cidade correspondente" [nzDisabled]="true">
            <nz-option *ngFor="let cidade of cidades" [nzLabel]="cidade.name" [nzValue]="cidade.id"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <ng-template #cidadeError>
        A cidade é obrigatória.
      </ng-template>
  
      <!-- Campo Telefone com Botão de Cadastro -->
      <nz-form-item>
        <nz-form-label [nzRequired]="true" nzFor="telefone">Telefone</nz-form-label>
        <nz-form-control [nzErrorTip]="telefoneError">
          <nz-select formControlName="telefone" id="telefone" nzPlaceHolder="Selecione um telefone">
            <nz-option *ngFor="let tel of telefones" [nzLabel]="tel.number" [nzValue]="tel.id"></nz-option>
          </nz-select>
          <button nz-button nzType="link" (click)="addNewTelefone()">+ Novo Telefone</button>
        </nz-form-control>
      </nz-form-item>
      <ng-template #telefoneError>
        O telefone é obrigatório.
      </ng-template>
    </form>
  </nz-modal>
  