<form nz-form>
  <nz-form-item>
    <nz-form-label [nzSpan]="5">Descrição do Produto</nz-form-label>
    <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="Input is required">
      <input
        placeholder="insira a descrição"
        nz-input
        [ngModel]=""
        name="required"
        required
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="5">Preço de Compra</nz-form-label>
    <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="Input is required">
      <input
        placeholder="insira o preço de compra"
        nz-input
        [ngModel]=""
        name="required"
        required
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="5">Preço de Venda</nz-form-label>
    <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="Input is required">
      <input
        placeholder="insira o preço de venda"
        nz-input
        [ngModel]=""
        name="required"
        required
      />
    </nz-form-control>

    <nz-form-item>
      <button id="botaosalvar" nzType="primary">Primary</button>
    </nz-form-item>
  </nz-form-item>
</form>
