<h3 nz-typography>Fornecedores</h3>
<div nz-row>
  <div nz-col nzSpan="12"></div>
  <div nz-col nzSpan="12">
    <div style="display: flex; align-items: center">
      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
        <input
          type="text"
          nz-input
          placeholder="Buscar Fornecedores"
          [(ngModel)]="searchValue"
          (ngModelChange)="onSearchChange()"
        />
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch>
          <span nz-icon nzType="search"></span>
        </button>
      </ng-template>

      <nz-select
        style="margin-left: 8px"
        [(ngModel)]="statusFilter"
        (ngModelChange)="onStatusChange($event)"
      >
        <nz-option nzValue="" nzLabel="Todos"></nz-option>
        <nz-option nzValue="Ativo" nzLabel="Ativo"></nz-option>
        <nz-option nzValue="Inativo" nzLabel="Inativo"></nz-option>
      </nz-select>

      <button nz-button nzType="primary" nzShape="circle" routerLink="novo">+</button>
    </div>
  </div>
</div>
<br />
<nz-table
  #basicTable
  [nzData]="fornecedoresFiltrados$ | async"
  [nzFrontPagination]="false"
  [nzPageIndex]="pageIndex"
  [nzPageSize]="pageSize"
  [nzTotal]="(fornecedores$ | async)?.length"
  (nzPageIndexChange)="onPageIndexChange($event)"
>
  <thead>
    <tr>
      <th>{{ "Código" }}</th>
      <th>{{ "Descrição" }}</th>
      <th>{{ "Preço Compra" }}</th>
      <th>{{ "Preço Venda" }}</th>
      <th>{{ "Status" }}</th>
      <th>{{ "Ações" }}</th>
      <th>{{ "Ativo" }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let fornecedor of fornecedoresFiltrados$ | async">
      <td>{{ fornecedor.nome_fornecedor }}</td>
      <td>{{ fornecedor.cnpj_fornecedor }}</td>
      <td>{{ fornecedor.telefone_fornecedor }}</td>
      <td>{{ fornecedor.cidade_fornecedor }}</td>
      <td>
        <span
          nz-typography
          [ngClass]="{
            'status-ativo': fornecedor.status_fornecedor === 'Ativo',
            'status-inativo': fornecedor.status_fornecedor === 'Inativo'
          }"
        >
          {{ fornecedor.status_fornecedor }}
        </span>
      </td>
      <td>
        <button nz-button [nzSize]="'small'" nzType="default">Abrir</button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button [nzSize]="'small'" nzType="primary">Editar</button>
      </td>
      <td>
        <nz-switch
          nzSize="small"
          [ngModel]="fornecedor.status_fornecedor === 'Ativo'"
          (ngModelChange)="toggleStatus(fornecedor)"
        ></nz-switch>
      </td>
      
    </tr>
  </tbody>
</nz-table>

