<h3 nz-typography>Agendamentos</h3>

<div nz-row>
  <div nz-col nzSpan="12"></div>
  <div nz-col nzSpan="12">
    <div
      style="margin-bottom: 16px; display: flex; justify-content: space-between"
    >
      <div style="flex: 1; margin-right: 8px">
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input
            type="text"
            nz-input
            placeholder="Buscar pelo nome do tutor"
            [(ngModel)]="searchValue"
            (ngModelChange)="onSearchChange()"
          />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" nzSearch>
            <span nz-icon nzType="search"></span>
          </button>
        </ng-template>
      </div>
      <button nz-button nzType="primary" (click)="openModal()">
        Novo Agendamento
      </button>
    </div>
  </div>
</div>

<nz-calendar
  [nzMode]="'month'"
  (nzSelectChange)="onDateSelect($event)"
  [nzDateCell]="dateCell"
>
</nz-calendar>

<ng-template #dateCell let-date>
  <ul class="events">
    <li
      *ngFor="let agendamento of getAgendamentosByDate(date)"
      [ngClass]="getEventClass(agendamento)"
      class="event"
    >
      {{ "Tipo:" }}
      <strong>{{ agendamento.procedimento_agendamento }}</strong><br>
      {{ "Animal:" }}
      <strong> {{ agendamento.animal?.nome_animal || "Não definido" }}</strong><br>
      {{"Tutor:" }}
      <strong>{{ agendamento.animal.pessoa.nome_pessoa }}</strong>
    </li>
  </ul>
</ng-template>

<ng-template #dateCell let-date>
  <ul class="events">
    <li
      *ngFor="let agendamento of getAgendamentosByDate(date)"
      [ngClass]="getEventClass(agendamento)"
      class="event"
      (click)="openModal(agendamento)"
    >
      <strong>{{ agendamento.procedimento_agendamento }}</strong> -
      {{ agendamento.animal.pessoa.nome_pessoa }}
    </li>
  </ul>
</ng-template>
